node_modules

/user/accounts/*
!/user/accounts/.gitkeep

/user/config/*
!/user/config/.gitkeep

/user/config/plugins/*
!/user/config/plugins/.gitkeep

/user/data/*
!/user/data/.gitkeep

/user/plugins/*
!/user/plugins/.gitkeep
